.success-go-back-button{
    background-color: #5356FF;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    border: none;
}

.success-go-back-button:hover{
    background-color: #4044C9;
  }

  @media (max-width: 520px) {
  
    .success-go-back-button {
      font-size: 11px;
      padding: 8px 10px;
    }

}