@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --font-primary: "Poppins", sans-serif;
}

.pricingSection{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

.pricingSection {
    padding: 0px 120px;
    background-color: #fff;
}

.priceHeading {
    font-size: 45px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: #050315;
}

.header {
    display: flex;
    align-items: center; /* Vertically centers the icon and text */
    justify-content: center; /* Horizontally centers the content */
    margin-bottom: 20px; /* Add space below the header */
  }
  
  .goBackIcon {
    cursor: pointer;
    margin-right: 16px; /* Space between the icon and heading */
  }


.priceHeading span {
    color: #5356FF;
}

.priceDesc {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #050315;
    margin-top: 16px;
    margin-bottom: 60px;
}

.priceCardContainer {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.priceCard {
    padding: 0px 32px 32px 32px;
    border-radius: 16px;
    border: 1px solid #eaecf0;
    box-shadow: 0px 12px 16px -4px #10182814;
    width: 384px;
}

.priceCardPrice {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #101828;
}

.priceCardAccounts {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #667085;
    margin-block: 16px;
}

.priceCardPlan {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #101828;
}

.priceCardPlanDesc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #667085;
    margin-top: 4px;
}

.priceCardFeatureContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.priceCardFeature {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #667085;
}

.priceCardFeature svg {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
}

.priceStartBtn {
    margin-top: 40px;
    padding: 12px 24px;
    width: 100%;
    background-color:#5356FF;
    color: #fff;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.priceStartBtn:hover{
    background-color:#4044C9;
}

.popularPlan {
    position: relative;
}

.popularPlanWrapper {
    position: absolute;
    right: 20px;
    top: -23px;
}

.popularPlanWrapper p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #5356ff;
    position: absolute;
    right: -90px;
    top: -20px;
}

.enterprisePlanWrapper p {
    right: -70px;
}

  
  @media (max-width: 1440px) {
    .priceHeading {
      font-size: 34px;
      line-height: 52px;
    }
  
    .priceCardPrice {
      font-size: 2.5rem;
    }
  
    .priceDesc {
      font-size: 16px;
      line-height: 24px;
    }
  }
  
  @media (max-width: 1135px) {
    .priceCardContainer {
      flex-wrap: wrap;
      gap: 32px;
    }
  
    .priceCard {
      width: 100%;
    }
  
    .popularPlanWrapper {
      right: 50px;
    }
  
  }
  
  @media (max-width: 768px) {
    .pricingSection {
      padding-inline: 24px;
      padding-block: 43px;
    }
  
    .priceHeading {
      font-size: 1.5rem;
      line-height: 34px;
    }
  
    .priceCard {
      width: 100%;
    }
  
    .priceCardFeature {
      font-size: 12px;
      line-height: 18px;
    }
  
    .priceStartBtn {
      height: 50px;
      font-size: 16px;
      min-width: 200px;
    }
  }
  