.container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto; /* Adjust margin to be responsive */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

}

.goBackIcon {
  cursor: pointer;
  margin-right: 20px;
  width: 10px;
  height: 16px;
}

.profileContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileInput {
  width: 500px;
  max-width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  box-sizing: border-box;
  margin: 5px;
  height: 40px;
}

.profilePic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.primaryButton {
  background-color: #28a745;
  
}

.secondaryButton {
  background-color: #fc443b;
}

.secondaryButton:hover{
  background-color: #ff0f03; 
}
.goBackButton {
  background-color: #5356FF;
}

.goBackButton:hover{
  background-color: #4044C9;
}

.infoText{
  text-align: center;
}

/* Media Queries for Responsive Design */
@media (max-width: 900px) {
  .container {
    margin: 10px auto;
    padding: 10px;
  }
}

@media (max-width: 520px) {
  .container {
    margin: 5px auto;
    padding: 5px;
  }

  .button {
    font-size: 11px;
    padding: 8px 10px;
  }

  input[type="text"], input[type="file"], input[type="email"] {
    width: 100%;
  }

  h2 {
    font-size: 20px;
  }

  .goBackIcon {
    margin-right: 10px;
  }
}
