/* src/components/ProfileManagement/ProfileManagement.css */

.profile-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .profile-button {
    background-color: #5356FF;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  
  .logout-button {
    background-color: #FF3B30;
  }
  
  .profile-button:hover {
    background-color: #4044C9;
  }
  
  .logout-button:hover {
    background-color: #CC3228;
  }
  