.progress-container {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  position: relative; /* Ensure the container is positioned relative */
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative; /* Ensure the bar is positioned relative */
}

.progress-bar-fill {
  height: 100%;
  width: 0;
  background-color: #5356FF;
  transition: width 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333; 
  font-weight: bold;
}

.progress-bar-step {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-weight: bold;
  white-space: nowrap; /* Ensure the text doesn't wrap */
}
